In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [15]:
df=pd.read_csv("telecom_churn_data.csv")

In [16]:
len(df.columns)

226

In [20]:
df.iloc[:,10:20].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 10 columns):
arpu_7          99999 non-null float64
arpu_8          99999 non-null float64
arpu_9          99999 non-null float64
onnet_mou_6     96062 non-null float64
onnet_mou_7     96140 non-null float64
onnet_mou_8     94621 non-null float64
onnet_mou_9     92254 non-null float64
offnet_mou_6    96062 non-null float64
offnet_mou_7    96140 non-null float64
offnet_mou_8    94621 non-null float64
dtypes: float64(10)
memory usage: 7.6 MB

In [26]:
pd.DataFrame({"columns":list(df.columns)})

                  columns
0           mobile_number
1               circle_id
2          loc_og_t2o_mou
3          std_og_t2o_mou
4          loc_ic_t2o_mou
5    last_date_of_month_6
6    last_date_of_month_7
7    last_date_of_month_8
8    last_date_of_month_9
9                  arpu_6
10                 arpu_7
11                 arpu_8
12                 arpu_9
13            onnet_mou_6
14            onnet_mou_7
15            onnet_mou_8
16            onnet_mou_9
17           offnet_mou_6
18           offnet_mou_7
19           offnet_mou_8
20           offnet_mou_9
21          roam_ic_mou_6
22          roam_ic_mou_7
23          roam_ic_mou_8
24          roam_ic_mou_9
25          roam_og_mou_6
26          roam_og_mou_7
27          roam_og_mou_8
28          roam_og_mou_9
29       loc_og_t2t_mou_6
..                    ...
196             arpu_2g_9
197      night_pck_user_6
198      night_pck_user_7
199      night_pck_user_8
200      night_pck_user_9
201          monthly_2g_6
202          monthly_2g_7
203          monthly_2g_8
204          monthly_2g_9
205           sachet_2g_6
206           sachet_2g_7
207           sachet_2g_8
208           sachet_2g_9
209          monthly_3g_6
210          monthly_3g_7
211          monthly_3g_8
212          monthly_3g_9
213           sachet_3g_6
214           sachet_3g_7
215           sachet_3g_8
216           sachet_3g_9
217             fb_user_6
218             fb_user_7
219             fb_user_8
220             fb_user_9
221                   aon
222            aug_vbc_3g
223            jul_vbc_3g
224            jun_vbc_3g
225            sep_vbc_3g

[226 rows x 1 columns]