### TF-IDF model

In [1]:
# load all necessary libraries
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

pd.set_option('max_colwidth', 100)

#### Let's build a basic bag of words model on three sample documents

In [2]:
documents = ["Gangs of Wasseypur is a great movie. Wasseypur is a town in Bihar.", "The success of a song depends on the music.", "There is a new movie releasing this week. The movie is fun to watch."]
print(documents)

['Gangs of Wasseypur is a great movie. Wasseypur is a town in Bihar.', 'The success of a song depends on the music.', 'There is a new movie releasing this week. The movie is fun to watch.']

In [3]:
documents = ["Vapour, Bangalore has a really great terrace seating and an awesome view of the Bangalore skyline",
             "The beer at Vapour, Bangalore was amazing. My favorites are the wheat beer and the ale beer.",
             "Vapour, Bangalore has the best view in Bangalore."]
print(documents)

['Vapour, Bangalore has a really great terrace seating and an awesome view of the Bangalore skyline', 'The beer at Vapour, Bangalore was amazing. My favorites are the wheat beer and the ale beer.', 'Vapour, Bangalore has the best view in Bangalore.']

In [4]:
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

# add stemming and lemmatisation in the preprocess function
def preprocess(document):
    'changes document to lower case and removes stopwords'

    # change sentence to lower case
    document = document.lower()

    # tokenize into words
    words = word_tokenize(document)

    # remove stop words
    words = [word for word in words if word not in stopwords.words("english")]
    
    # stem
    #words = [stemmer.stem(word) for word in words]
    
    # join words to make sentence
    document = " ".join(words)
    
    return document

In [5]:
documents = [preprocess(document) for document in documents]
print(documents)

['vapour , bangalore really great terrace seating awesome view bangalore skyline', 'beer vapour , bangalore amazing . favorites wheat beer ale beer .', 'vapour , bangalore best view bangalore .']

#### Creating bag of words model using count vectorizer function

In [6]:
vectorizer = TfidfVectorizer()
tfidf_model = vectorizer.fit_transform(documents)
print(tfidf_model)  # returns the row number and column number of cells which have 1 as value

  (0, 12)	0.20472809091871683
  (0, 3)	0.40945618183743365
  (0, 8)	0.34663478992044555
  (0, 7)	0.34663478992044555
  (0, 11)	0.34663478992044555
  (0, 9)	0.34663478992044555
  (0, 2)	0.34663478992044555
  (0, 13)	0.2636246924033099
  (0, 10)	0.34663478992044555
  (1, 12)	0.15958136664279546
  (1, 3)	0.15958136664279546
  (1, 4)	0.8105842230034561
  (1, 1)	0.27019474100115204
  (1, 6)	0.27019474100115204
  (1, 14)	0.27019474100115204
  (1, 0)	0.27019474100115204
  (2, 12)	0.32401895323148033
  (2, 3)	0.6480379064629607
  (2, 13)	0.41723339721076924
  (2, 5)	0.5486117771118657

In [7]:
# print the full sparse matrix
print(tfidf_model.toarray())

[[0.         0.         0.34663479 0.40945618 0.         0.
  0.         0.34663479 0.34663479 0.34663479 0.34663479 0.34663479
  0.20472809 0.26362469 0.        ]
 [0.27019474 0.27019474 0.         0.15958137 0.81058422 0.
  0.27019474 0.         0.         0.         0.         0.
  0.15958137 0.         0.27019474]
 [0.         0.         0.         0.64803791 0.         0.54861178
  0.         0.         0.         0.         0.         0.
  0.32401895 0.4172334  0.        ]]

In [8]:
pd.DataFrame(tfidf_model.toarray(), columns = vectorizer.get_feature_names())

,ale,amazing,awesome,bangalore,beer,best,favorites,great,really,seating,skyline,terrace,vapour,view,wheat
0,0.000000,0.000000,0.346635,0.409456,0.000000,0.000000,0.000000,0.346635,0.346635,0.346635,0.346635,0.346635,0.204728,0.263625,0.000000
1,0.270195,0.270195,0.000000,0.159581,0.810584,0.000000,0.270195,0.000000,0.000000,0.000000,0.000000,0.000000,0.159581,0.000000,0.270195
2,0.000000,0.000000,0.000000,0.648038,0.000000,0.548612,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.324019,0.417233,0.000000

### Let's create a tf-idf model on the spam dataset.

In [9]:
# load data
spam = pd.read_csv("../SMSSpamCollection.txt", sep = "\t", names=["label", "message"],encoding="utf-8")
spam.head()

,label,message
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

##### Let's take a subset of data (first 50 rows only) and create bag of word model on that.

In [ ]:
spam = spam.iloc[0:50,:]
print(spam)

In [ ]:
# extract the messages from the dataframe
messages = [message for message in spam.message]
print(messages)

In [ ]:
# preprocess messages using the preprocess function
messages = [preprocess(message) for message in messages]
print(messages)

In [ ]:
# bag of words model
vectorizer = TfidfVectorizer()
tfidf_model = vectorizer.fit_transform(messages)

In [ ]:
# Let's look at the dataframe
tfidf = pd.DataFrame(tfidf_model.toarray(), columns = vectorizer.get_feature_names())
tfidf

In [ ]:
# token names
print(vectorizer.get_feature_names())